body{
    margin: 0 auto;
    background-image: url(../img/fundo_chat.webp);
    background-size: 100%;
}

#area-chat{
    min-height: 90vh;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(../img/fundo_mensagem.jpeg);
    background-size: 100%;
}

header{
    height: 100px;
}

#logo{
    float: left;
    height: 80px;
    width: 100%;
    margin-top: 10px;
    margin-left: 2%;
    background-image: url(../img/logo_satc.png);
    background-repeat: no-repeat;
}

#area-mensagens{
    min-height: 65vh;
    width: 96%;
    margin-left: 2%;
    position: center;
    border: 1.5px solid;
    overflow: auto;
    border-color: rgb(63, 63, 63);
    background-color: rgb(255, 255, 255);
}

.msg-atendente{
    margin-top: 1.3%;
    margin-left: 2%;
}

.msg-usuario{
    float: right;
    margin-top: 1.3%;
    margin-right: 2%;
}

footer{
    height: 60px;
    width: 96%;
    margin-left: 2%;
}

#area-digitar fieldset{
    height: 10%;
    width: 96%;
    margin-top: 1.3%;
    background-color: rgb(255, 255, 255);
}

#campo-msg{
    width: 70%;
    margin-top: 0.3%;
}

#bt-enviar{
    margin-left: 13%;
    width: 100px;
    margin-top: 0.3%;
}
